.gradle

/.kotlin/
/.idea/
/jars/
/build/

/out/
*.iml

*.zip
/agent/build/classes/java/main/patchlib/agent/PreMain.class
/agent/build/libs/agent.jar
/agent/build/libs/PatchLibAgent.jar
/agent/out/
/agent/build/
/api/build/
/api/out/
/installer/build/
/installer/out/
